extends layout

block content
    h1 Welcome to bookwerx-ui

    table.table
        tr
            td
                p For ordinary operation this app is presently using:
            td
                p #{ordinary_api}

        tr
            td
                p For API testing this app is presently using:
            td
                p #{apitest_api}
