extends ../layout

block content
    h1 Create a new account

    form(method="post")
        fieldset.form-group

            label(for="title") Title:
            input.form-control(name="title", type="text", placeholder="Enter a title")

            // echo $this->Form->input('categories._ids', ['id'=>'AccountsCategories', 'options' => $categories, 'multiple'=>true]);
            label(for="categories") Categories:
            select(multiple, name="categories", class="form-control")
                each category in categories
                    option(value="#{category._id}") #{category.title}


        button.btn.btn-primary(type="submit") Create new account
        a.btn.btn-defualt(href="/accounts") Cancel