extends ../layout

block content
    h1 Edit an account

    form(method="post")
        fieldset.form-group
            label(for="title") Title:
            input.form-control(name="title", type="text", placeholder="Enter a title", value="#{data.account.title}")

            label(for="category_id") Categories:
            select.form-control(name="category_id" multiple)
                each category in data.categories
                    option(value="#{category._id}" selected=category.selected===true ) #{category.title}

        button.btn.btn-primary(type="submit") Save account
        a.btn.btn-defualt(href="/accounts") Cancel