extends ../layout

block content
    h1 Edit a transaction

    form(method="post")
        fieldset.form-group
            label(for="datetime") Datetime:
            input.form-control(name="datetime", type="text", placeholder="Enter a time and date", value="#{transaction.datetime}")
            label(for="note") Note:
            input.form-control(name="note", type="textarea", placeholder="Enter a note", value="#{transaction.note}")
        button.btn.btn-primary(type="submit") Save transaction
        a.btn.btn-defualt(href="/transactions") Cancel