<p>
  The purpose of bookwerx-ui is to provide an example user interface to the <a href="https://github.com/bostontrader/bookwerx-core">bookwerx-core
  bookkeeping engine.</a>
<p>

<h2>Features</h2>
<ul>
  <li>Multiple currency support.</li>
  <li>Derived from <a href="https://github.com/mgechev/angular2-seed">angular2-seed</a></li>
  <li>Ready to go, statically typed build system using Gulp for working with TypeScript.</li>
  <li>Production and development builds.</li>
  <li>Sample unit tests with Jasmine and Karma including code coverage via Istanbul.</li>
  <li>End-to-end tests with Protractor.</li>
  <li>Development server with live reload.</li>
  <li>TypeScript definition management using Typings.</li>
  <li>Basic Service Worker, which implements "Cache then network strategy".</li>
</ul>
